<a href="" class="c-badge c-badge--primary">Primary</a>

<a href="" class="c-badge c-badge--success">Success</a>

<a href="" class="c-badge c-badge--warning">Warning</a>

<a href="" class="c-badge c-badge--danger">Danger</a>

<a href="" class="c-badge c-badge--info">Info</a>

<a href="" class="c-badge c-badge--secondary">Secondary</a>