<div class="c-badge c-badge--primary">Primary</div>

<div class="c-badge c-badge--success">Success</div>

<div class="c-badge c-badge--warning">Warning</div>

<div class="c-badge c-badge--danger">Danger</div>

<div class="c-badge c-badge--info">Info</div>

<div class="c-badge c-badge--secondary">Secondary</div>