.c-tabs__title {
    background-color: #e3e3e3;
    color: #333333;
    &:hover {
        background-color: #c4c4c4;
    }
}

.c-tabs__content {
    .c-tabs__panel {
        background-color: #ffffff;
    }
}