/*----------------*\
  #BACKGROUNDS
\*----------------*/

@each $color in $colors {

    $name: nth( $color, 1 );
    $color: nth( $color, 2 );
  
    .bg--#{$name} {
      background-color: $color;
    }
  
  }