/*----------------*\
  #BUTTON
\*----------------*/

.c-btn {
    background-color: $c-btn--background;
    color: getTextColor($c-btn--background);

    &:hover,
    &:focus,
    &:active {
      background-color: darken($c-btn--background, 10%);
    }
}
