/*----------------*\
  #ACCORDION
\*----------------*/

.c-accordion__header {
    background-color: $c-accordion__header--background;
    color: getTextColor($c-accordion__header--background);
    &:hover {
        background-color: darken($c-accordion__header--background, 10%);
    }
}

.c-accordion__content {
    background-color: $c-accordion__content--background;
}