.c-hero {
    display: flex;
}

.hero {
    background-color: #fff;
    overflow: hidden;
    padding: 2rem;

    .box-feature {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(6, 1fr);

        .box-image {
            align-self: stretch;
            justify-self: stretch;
            grid-column: 1 / -1;
            grid-row: 1 / 4;
        }

        .box-feature-title {
            grid-column: 3 / -1;
            grid-row: 1;
            background-color: rgba(0,0,0,0.7);
            color: #ffffff;
            align-self: start;
            padding: 20px;
        }

        .box-content {
            grid-column: 2 / -1;
            grid-row: 2;
            background-color: rgba(0,0,0,0.7);
            color: #ffffff;
            padding: 20px;
            >p {
                color: #ffffff;
            }
        }
    }
}