@mixin breakpoint($size) {
  @if $size == xs {
    @media (max-width: #{$screen--xs}) {
      @content;
    }
  }
  @if $size == sm {
    @media (min-width: #{$screen--xs}) and (max-width: #{$screen--sm}) {
      @content;
    }
  }
  @if $size == md {
    @media (min-width: #{$screen--sm}) and (max-width: #{$screen--md}) {
      @content;
    }
  }
  @if $size == lg {
    @media (min-width: #{$screen--md}) and (max-width: #{$screen--lg}) {
      @content;
    }
  }
  @if $size == xl {
    @media (min-width: #{$screen--xl}) {
      @content;
    }
  }
}

@mixin breakpoint-up($size) {
  @if $size == xs {
    @media (min-width: #{$screen--xs}) {
      @content;
    }
  }
  @if $size == sm {
    @media (min-width: #{$screen--sm}) {
      @content;
    }
  }
  @if $size == md {
    @media (min-width: #{$screen--md}) {
      @content;
    }
  }
  @if $size == lg {
    @media (min-width: #{$screen--lg}) {
      @content;
    }
  }
  @if $size == xl {
    @media (min-width: #{$screen--xl}) {
      @content;
    }
  }
}

@mixin breakpoint-down($size) {
  @if $size == xs {
    @media (max-width: #{$screen--xs}) {
      @content;
    }
  }
  @if $size == sm {
    @media (max-width: #{$screen--sm}) {
      @content;
    }
  }
  @if $size == md {
    @media (max-width: #{$screen--md}) {
      @content;
    }
  }
  @if $size == lg {
    @media (max-width: #{$screen--lg}) {
      @content;
    }
  }
  @if $size == xl {
    @media (max-width: #{$screen--xl}) {
      @content;
    }
  }
}