@mixin websupport($type, $val) {
  -webkit-#{$type}: #{$val};
  -moz-#{$type}: #{$val};
  -ms-#{$type}: #{$val};
  #{$type}: #{$val};
} 

@mixin nav-bars(){
  .menu-bars {
    &:after {
      content: '\2630';
    }
  }

  .menu-cross {
    &:after {
      content: '\00d7';
    }
  }
}

@mixin box-shadow($h: 0px, $v: 4px, $blur: 8px, $spread: 0px, $color: rgba(0,0,0,0.25)) {
  @include websupport(box-shadow, #{$h} #{$v} #{$blur} #{$spread} #{$color});
}

@mixin color-gradient($color1, $color2, $direction) {
  background: linear-gradient($direction, $color1, $color2);
}

@mixin colour-variation($base, $text) {
  background-color: $base;
  color: $text;
  &:hover {
    background-color: darken($base, 10%);
  }  
}

@mixin colour-pastel($base, $text) {
  background-color: $base;
  color: $text; 
}

@mixin colour-outline($base, $text) {
  background-color: transparent;
  color: $base;
  border: 1px solid $base;
  &:hover {
    background-color: darken($base, 10%);
    color: $text;
    border: 1px solid darken($base, 10%);
  }  
}