@mixin websupport($type, $val) {
  -webkit-#{$type}: #{$val};
  -moz-#{$type}: #{$val};
  -ms-#{$type}: #{$val};
  #{$type}: #{$val};
}

@mixin nav-bars() {
  .menu-bars {
    &:after {
      content: "\2630";
    }
  }

  .menu-cross {
    &:after {
      content: "\00d7";
    }
  }
}
