// Layout
@mixin flex {
  @include websupport(display, flex);
  flex-wrap: wrap;
}

@mixin flex-item {
  box-sizing: border-box;
  padding: padding(1);
  transition-duration: 250ms;
}

@mixin flex-col($width) {
  flex: 0 0 auto;
  width: $width;
}

// 12 grid layout
@mixin grid-12($span, $val: span) {
  grid-column: #{$val} #{$span};
}

// 12 column layout
@mixin column-12($span) {
  width: #{$span};
  float: left;
}

// 12 columns responsive
@mixin responsive-columns() {
  @include breakpoint(sm) {
    width: 100%;
  }
}

// flexbox responsive
@mixin responsive-flex() {
  @include breakpoint(sm) {
    flex: 0 0 50%;
  }

  @include breakpoint(xs) {
    flex: 0 0 100%;
  }
}

// grid responsive
@mixin responsive-grid($grid) {
  @include breakpoint(sm) {
    grid-column: 1 / -1;
  }
}

@mixin flex-cols($count) {
  > .col {
    flex: 0 0 auto;
    width: calc(100% / $count);

    @include breakpoint(md) {
      width: 50%;
    }

    @include breakpoint(sm) {
      width: 100%;
    }
  }
}
