@function get-spacing($name, $int) {
  $spacing: map-get($spacing-values, $name);

  @if ($spacing != null) {
    $values: map-get($spacing, "values");
    @each $key, $value in $values {
      @if $key == $int {
        @return $value;
      }
    }
  }
}

// Alias for the get spacing function.
@function spacing($property-name, $int) {
  @return get-spacing($property-name, $int);
}

// Alias for the get spacing function, specifically
// for the padding property.
@function padding($int) {
  @return spacing("padding", $int);
}

// Alias for the get spacing function, specifically
// for the margin property.
@function margin($int) {
  @return spacing("margin", $int);
}
