@mixin generate-utility($utility) {
  $values: map-get($utility, values);

  @if type-of($values) == "string" or type-of(nth($values, 1)) != "list" {
    $values: zip($values, $values);
  }

  @each $key, $value in $values {
    $properties: map-get($utility, property);

    $class: if(
      map-has-key($utility, class),
      map-get($utility, class),
      nth($properties, 1)
    );

    @each $property in $properties {
      .#{$class}-#{$key} {
        // #{$property}: #{$value};
        #{$property}: #{$value};
      }

      @if map-get($utility, responsive) {
        @each $key, $breakpoint in $breakpoints {
          .#{$class}-#{$key}-#{$value} {
            @include breakpoint-up($key) {
              #{$property}: #{$value} !important;
            }
          }
        }
      }
    }
  }
}
