.a-transform {   
    &--scale {
        overflow: hidden;
         * {
            transition: transform 1s ease-in-out;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}


