/*----------------*\
  #NAV
\*----------------*/

.c-navbar {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  user-select: none;
  align-items: center;
  justify-content: space-between;
  @include breakpoint(xs) {
    flex-direction: column;
  }
}

.c-navbar__brand {
  display: flex;
  flex-shrink: 0;
}

.c-navbar__menu {
  display: flex;
  flex-grow: 1;
  @include breakpoint-down(xs) {
    width: 100%;
    flex-direction: column;
  }
}

.c-navbar__social {
  display: flex;
  a {
    padding: padding("s");
  }
}

.c-navbar__collapse {
  @include breakpoint-down(xs) {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
    .c-menu {
      flex-direction: column;
    }
    &.show {
      display: flex;
      padding: padding("0");
    }
  }
}

.c-navbar__toggle {
  display: none;
  @include breakpoint-down(xs) {
    display: inline-block;
    @include nav-bars;
  }
}
