/*----------------*\
  #CARD
\*----------------*/

.c-card {
    background-color: $color--white;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    width: 100%;
    padding: padding('0');
    border-radius: 5px;
}

.c-card__media {
    * {
        width: 100%;
    }
}

.c-card__title {

}

.c-card__content {
    padding: {
        top: padding('xs');
        bottom: padding('s');
        left: padding('s');
        right: padding('s');
    }
}

.c-card__actions {
    padding: padding('xs');
    .c-button {
        font-weight: bold;
        padding: padding('xs');
        margin: margin('0');
    }
}


