/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

$font--base: "Muli", sans-serif;
$font--title: "Merriweather Sans", sans-serif;
$font--subtitle: "Trirong", sans-serif;

$font-size--default: 18px !default;
$line-height--default: 28px !default;


