<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width">
    <link href="<%- root %>aigis_assets/css/highlight/okadia.css" rel="stylesheet">
    <link href="<%- root %>aigis_assets/css/theme.css" rel="stylesheet">
    <link href="<%- root %>styles.css" rel="stylesheet">
    <script></script>
  </head>
<body>
  <div class="aigis-container">
    <%- include('sidemenu') %>
    <div class="aigis-contents">
      <div class="aigis-contents__body">
        <%- include('components') %>
        <footer class="aigis-footer">Last update at <%- timestamp %></footer>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.compatibility.js"></script>
  <script src="<%- root %>morty.js" charset="utf-8"></script>
</body>
</html>
