/*
---
name: Card
category: Components/Card
tag:
  - latest
  - components
---


!![Path to HTML file](card/card.html)
*/
.c-card {
  background-color: $color--white;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  width: 100%;
  padding: padding(0);
  border-radius: 5px;
}

.c-card__media {
  * {
    width: 100%;
  }
}

.c-card__header {
}

.c-card__body {
  padding: {
    top: padding(2);
    bottom: padding(3);
    left: padding(3);
    right: padding(3);
  }
}

.c-card__footer {
  padding: padding(3);
}
