/*
---
name: Rounded
category: Components/Card
---

Simply use the `c-card--rounded` class modifer to add the rounded borders.

!![Path to HTML file](card/card-rounded.html)
*/
.c-card--rounded {
  border-radius: 10px;

  .c-card__media {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
