.c-tabs__title {
    padding: 20px;
    font-weight: bold;
    user-select: none;
}

.c-tabs__content {
    .c-tabs__panel {
        display: none;
        padding: 20px;
        &.show {
            display: flex;
        }
    }
}