$aligns: left, right, center;
$sizes: xs, sm, md, lg, xl;

@each $align in $aligns {
    .t-align-#{$align} {
        text-align: #{$align};
    }
    @each $size in $sizes {
        .t-align-#{$size}-#{$align} {
            @include breakpoint-up(#{$size}) {
                text-align: #{$align} !important;
            }
        }
    }
}