
<div class="c-alert c-alert--primary">This is an alert
  <div class="c-alert__close"></div>
</div>

<div class="c-alert c-alert--success">This is an alert
  <div class="c-alert__close"></div>
</div>

<div class="c-alert c-alert--warning">This is an alert
  <div class="c-alert__close"></div>
</div>

<div class="c-alert c-alert--danger">This is an alert
  <div class="c-alert__close"></div>
</div>

<div class="c-alert c-alert--info">This is an alert
  <div class="c-alert__close"></div>
</div>

<div class="c-alert c-alert--secondary">This is an alert
  <div class="c-alert__close"></div>
</div>