/*
---
name: Modal
category: Components/Modal
tag:
  - latest
  - components
---

## This is an Accordion

* Base accordion style.

!![Path to HTML file](modal.html)
*/
.c-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.4);
}

.c-modal__body {
  width: 25%;
  display: flex;
  position: relative;
  flex-direction: column;
  margin: margin(a);
  padding: padding(3);
  background: white;
}

.c-modal__close {
  position: absolute;
  right: 10px;
  top: 5px;
  &:hover {
    cursor: pointer;
  }
  &::after {
    content: "\00d7";
    font-weight: 300;
    font-family: Arial, sans-serif;
  }
}
