.toggle {
    .title {
        padding: 20px;
        background-color: #e3e3e3;
        font-weight: bold;
        &:hover {
            background-color: #c4c4c4;
            cursor: pointer;
        }
    }

    .content {
        display: none;
        padding: 20px;
        background-color: #ffffff;
        &.show {
            display: block;
        }
    }
}