/*----------------*\
  #FORM
\*----------------*/

.c-form {
  position: relative;

  &.is-inline {
    display: flex;
    align-items: center;
    padding: {
      top: padding('0');
      bottom: padding('0');
      left: padding('s');
      right: padding('s');
    }

    input,
    select,
    textarea,
    select {
      margin: margin('s');
    }
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="file"],
select {
  display: inline-block;
  box-sizing: border-box;
  background-color: #e3e3e3;
  width: 100%;
  border: 2px solid transparent;
  margin: {
    top: margin('s');
    bottom: margin('s');
  }
  padding: {
    top: padding('xs');
    bottom: padding('xs');
    left: padding('xs');
    right: padding('xs');
  }
  transition: {
    property: border-color;
    duration: .25s;
    timing-function: ease-in-out;
  }
  &:focus {
    outline: none;
  }
}

input[type="radio"],
input[type="checkbox"] {
  transform: scale(2.0);
  margin: margin('m');
}

input[type="file"] {
  border: 1px dashed rgba($color--black, 0.25);
}

textarea {
  padding: padding('s');
  width: 100%;
  border: 2px solid transparent;

  transition: {
    property: border-color;
    duration: .25s;
    timing-function: ease-in-out;
  }
}

select {
  padding: padding('s');
  border: 2px solid transparent;
}

label {
  display: block;
  margin: {
    top: margin('xs');
    bottom: margin('xs');
  }
}




// input {
//   @extend %input-shared;
//   &:focus {
//     background-color: #ffffff;
//     border-color: #058ed9;
//     outline: 0;
//   }
//   &[type=checkbox], &[type=radio] {
//     margin: 0.5rem;
//     width: auto;
//     display: inline-block;
//   }

//   &.is-glass {
//     background: none;
//     border: 0;
//     box-shadow: none;
//     border-bottom: 1px solid #bbbbbb;
//     border-radius: 0;
//   }

// }
// select {
//   // color: #6f6d6d;
//   background-color: #ffffff;
// }
// select, textarea {
//   @extend %input-shared;
// }

// label {
//   margin: 0.75rem 0 0 0;
// }

// .is-inline {
//   display: flex;
//   padding: {
//     top: padding('0');
//     bottom: padding('0');
//     left: padding('s');
//     right: padding('s');
//   }
// }

// .is-stacked {
//   display: block;
// }

