@media (min-width: $screen--xs) {
  :root {
    font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
    min-height: 0vw;
  }
}
@media (min-width: $screen--xl) {
  :root {
    font-size: 24px;
  }
}

* {
  min-height: 0;
  min-width: 0;
}
