/**
 C-MENU
**/

.c-menu {
  background-color: #ffffff;
  display: flex;
  list-style-type: none;
  padding: padding("0");
  margin: {
    top: margin("0");
    bottom: margin("0");
  }
  @include breakpoint(xs) {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
    &.show {
      display: flex;
      padding: padding("0");
    }
  }
}

.c-menu__item {
  position: relative;
}

.c-menu__link {
  display: block;
  text-align: center;
  padding: padding("s");
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  @include breakpoint(xs) {
    text-align: left;
    &:hover {
      text-decoration: none;
    }
  }
}

.has-submenu {
  @include breakpoint(xs) {
    > .c-menu__link {
      &::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
      }
    }
  }

  &:hover {
    .is-submenu {
      display: flex;
      @include breakpoint(xs) {
        display: none;
      }
    }
  }

  .is-submenu {
    display: none;
    z-index: 1;
    padding: 0;
    background-color: #e7e7e7;
    flex-direction: column;
    list-style-type: none;
    position: absolute;
    @include breakpoint(xs) {
      position: static;
      &.show {
        display: flex;
      }
    }
    .c-menu__item {
      flex: 1 1 0;
      white-space: nowrap;
    }
  }
}

.c-menu__toggle {
  display: none;
  @include breakpoint(xs) {
    display: inline-block;
    @include nav-bars;
  }
}
