.c-menu--list {
    flex-direction: column;
    border-radius: 5px;
    width: 100%;

    .c-menu__link {
        text-align: left;
        &:hover {
            background-color: #e3e3e3;
            text-decoration: none;
        }
    }

    .has-submenu {      
        .is-submenu {
            position: relative;
            display: none;
            &.show {
                display: flex;
            }
        }
    }

}

