/*----------------*\
  #FORM
\*----------------*/

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select {

  background-color: rgba($c-form-input--focus, 0.15);

  &:focus {
    border-color: $c-form-input--focus;
  }

}

textarea {

  background-color: rgba($c-form-textarea--focus, 0.15);
  
  &:focus {
    border-color: $c-form-textarea--focus;
  }
  
}