<ul class="c-menu js-menu">
  <li class="c-menu__item">
      <a href="" class="c-menu__link">Page Link</a>
  </li>
  <li class="c-menu__item">
      <a href="" class="c-menu__link">Page Link</a>
  </li>
  <li class="c-menu__item">
      <a href="" class="c-menu__link">Page Link</a>
  </li>
  <li class="c-menu__item has-submenu js-menu__parent">
      <a class="c-menu__link">Has Submenu</a>
      <ul class="c-menu is-submenu js-menu__child">
          <li class="c-menu__item">
              <a href="" class="c-menu__link">Submenu</a>
          </li>
      </ul>
  </li>
</ul>