/*----------------*\
  #MODAL
\*----------------*/

.c-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.c-modal__content {
    display: flex;
    flex-direction: column;
    margin: margin('a');
    padding: padding('m');
}