$sizes: (
    0: 0,
    1: 0.25,
    2: 0.5,
    3: 1,
    4: 2,
    5: 3
);

$positions : (
    t: top,
    b: bottom,
    r: right,
    l: left,
    y: y,
    x: x,
);

@each $sl, $sv in $sizes {
    .p-#{$sl} {
        padding: #{$sv}em;
    }

    .m-#{$sl} {
        margin: #{$sv}em;
    }

}


@each $pl, $pv in $positions {
    @each $sl, $sv in $sizes {
        

        @if $pl == x {
            .p#{$pl}-#{$sl} {
                padding-left: #{$sv}em;
                padding-right: #{$sv}em;  
            }

            .m#{$pl}-#{$sl} {
                margin-left: #{$sv}em;
                margin-right: #{$sv}em;  
            }
            
        }

        @else if $pl == y {
            .p#{$pl}-#{$sl} {
                padding-top: #{$sv}em;
                padding-bottom: #{$sv}em;
            }

            .m#{$pl}-#{$sl} {
                margin-top: #{$sv}em;
                margin-bottom: #{$sv}em;
            }
             
        } 

        @else {
            .p#{$pl}-#{$sl} {
                padding-#{$pv}: #{$sv}em; 
            }

            .m#{$pl}-#{$sl} {
                margin-#{$pv}: #{$sv}em; 
            }
        }
        
    }
}