/*----------------*\
  #ALIGNMENT
\*----------------*/

$jc-positions: (
    'start'     flex-start,
    'center'    center,
    'end'       flex-end,
    'between'   space-between,
    'around'    space-around,
    'even'      space-evenly
);    

@each $position in $jc-positions {
    $name: nth($position, 1);
    $value: nth($position, 2);

    .flex-jc-#{$name} {
        justify-content: $value;
    }
}

$ai-positions: (
    'start'     flex-start,
    'center'    center,
    'end'       flex-end,
    'baseline'  baseline,
    'stretch'   stretch
);

@each $position in $ai-positions {
    $name: nth($position, 1);
    $value: nth($position, 2);

    .flex-ai-#{$name} {
        align-items: $value;
    }
}

$ac-positions: (
    'start'     flex-start,
    'center'    center,
    'end'       flex-end,
    'between'   space-between,
    'around'    space-around,
    'stretch'   stretch
);  

@each $position in $ac-positions {
    $name: nth($position, 1);
    $value: nth($position, 2);

    .flex-ac-#{$name} {
        align-content: $value;
    }
}

.mr-auto {
    margin-right: auto;
}

.mr-left {
    margin-left: auto;
}

.mx-auto {
    margin: 0 auto;
}