/*----------------*\
  #FLEX
\*----------------*/

.flex {
  
  @include flex();

}

$count: 1;

@while $count < 12 {
    .flex-cols-#{$count} {
        @include flex-cols($count);
    }
    $count: $count + 1;
}

.col {
  @include flex-item;
  flex: 1 0 0%;

  &.is-double {
    flex-basis: 0;
    flex-grow: 2;
  }

  &.is-triple {
    flex-basis: 0;
    flex-grow: 3;
  }

  &.is-static {
    flex: none;
  }
}
$sizes: xs, sm, md, lg, xl;
$directions: row, row-reverse, column, column-reverse, inherit;

@each $direction in $directions {
  .fl-dir-#{$direction} {
    flex-direction: #{$direction};
  }
}

@each $size in $sizes {
  @each $direction in $directions {
    .fl-dir-#{$direction}--#{$size} {
      @include breakpoint-up(#{$size}) {
        flex-direction: #{$direction};
      }
    }
  }
}

.flex-inline {
  display: inline-flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}
