/*----------------*\
  #SIZES
\*----------------*/

@use "sass:math";

$sizes: xs, sm, md, lg, xl;

@for $col from 1 through 12 {
    $width: percentage(math.div($col, 12));
    .col-#{$col} {
        @include flex-item;
        @include flex-col($width);
    }
}

@for $col from 1 through 12 {
    $width: percentage(math.div($col, 12));
    .col-#{$col}-offset {
        @include flex-item;
        margin-left: $width;
    }
}

// @for $col from 1 through 5 {
//     .col-#{$col}-5 {
//         flex: 0 1 calc(#{$col}*(100%/5));
//         @include flex-item;
//         @include flex-col(calc(#{$col}*(100%/5)));
//     }
// }

@each $size in $sizes {
    @for $col from 1 through 12 {
        .col-#{$size}-#{$col} {
            $width: percentage(math.div($col, 12));
            @include breakpoint-up(#{$size}) {
                @include flex-item;
                @include flex-col($width);
            }

        }
    }
}

@each $size in $sizes {
    @for $col from 1 through 12 {
        .col-#{$size}-#{$col}-offset {
            $width: percentage(math.div($col, 12));
            @include breakpoint-up(#{$size}) {
                @include flex-item;
                margin-left: $width;
            }
        }
    }
}

// @each $size in $sizes {
//     @for $col from 1 through 5 {
//         .col-#{$size}-#{$col}-5 {
//             $width: percentage($col * 0.2);
//             @include breakpoint-up(#{$size}) {
//                 @include flex-item;
//                 @include flex-col($width);
//             }
//         }
//     }
// }


