table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  tr {
    th {
      text-align: left;
      border-bottom: 2px solid #d0d0d0;
      padding: 0.75rem;
    }
    td {
      padding: 0.75rem;
      border-bottom: 1px solid #e3e3e3;
    }
  }

  &.is-condenced {
    tr {
      th {
        padding: 0.4rem;
      }
    }
    tr {
      td {
        padding: 0.4rem;
      }
    }
  }

  &.is-hover {
    tbody {
      tr {
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
          cursor: pointer;
        }
      }
    }
  }

  &.is-stripe {
    tbody {
      tr {
        &:nth-child(odd) {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

  &.has-border {
    border: 1px solid #e3e3e3;
  }

  &.all-borders {
    tr {
      th {
        border: 1px solid #e3e3e3;
        border-bottom: 2px solid #d0d0d0;
      }
    }
    tr {
      td {
        border: 1px solid #e3e3e3;
      }
    }
  }
}
