/*
---
name: Alert
category: Components/Alert
tag:
  - latest
  - components
---

Alerts can be used to communicate information to users

!![Path to HTML file](alert/alert.html)
*/
.c-alert {
  position: relative;
  padding: padding(3);
  margin: {
    bottom: margin(3);
  }
  border-radius: 0.25rem;
}

.c-alert__close {
  position: absolute;
  right: 10px;
  top: 5px;
  &:hover {
    cursor: pointer;
  }
  &::after {
    content: "\00d7";
    font-weight: 300;
    font-family: Arial, sans-serif;
  }
}
