/*
---
name: Alert Colours
category: Components/Alert
tag:
  - latest
  - components
---

!![Path to HTML file](alert/alert-colours.html)
*/
@each $key, $color in $colors {
  .c-alert--#{$key} {
    color: getTextColor($color);
    background-color: $color;
  }
}
