.c-hero {
  min-height: 90vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height: 850px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @include breakpoint-down(sm) {
    align-items: flex-start;
    justify-content: center;
  }

  .c-hero__media {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .c-hero__content {
    min-height: 90vh;
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  .c-btn--outline {
    background-color: var(--white);
    color: var(--heavy-metal);
    border: none;
  }
}
