h1, h2, h3, h4, h5, h6 {
    font-family: $font--title;
}

h1, h2, h3, h4, h5, h6 {
    &.subtitle {
        font-family: $font--subtitle;
    }
}

p, a, ul, ol, li {
    color: $color--off-black;
    font-family: $font--base;
}

a {
    color: $color--secondary;
    text-decoration: none;
    &:hover {
        cursor: pointer;
        text-decoration: none;
    }

    &.button {
        display: inline-block;
    }

}

kbd {
    padding: .2rem .4rem;
    font-size: 1rem;
    line-height: 1.1rem;
    color: $color--white;;
    background-color: $color--off-black;
    border-radius: .2rem;  
}
