<button class="c-btn c-btn--outline-primary">
  Primary
</button>

<button class="c-btn c-btn--outline-success">
  Success
</button>

<button class="c-btn c-btn--outline-warning">
  Warning
</button>

<button class="c-btn c-btn--outline-danger">
  Danger
</button>

<button class="c-btn c-btn--outline-info">
  Info
</button>

<button class="c-btn c-btn--outline-secondary">
  Secondary
</button>