<button class="c-btn c-btn--primary">
  Primary
</button>

<button class="c-btn c-btn--success">
  Success
</button>

<button class="c-btn c-btn--warning">
  Warning
</button>

<button class="c-btn c-btn--danger">
  Danger
</button>

<button class="c-btn c-btn--info">
  Info
</button>

<button class="c-btn c-btn--secondary">
  Secondary
</button>