<div class="c-btn--group">
  <button class="c-btn c-btn--primary">Primary</button>
  <button class="c-btn c-btn--secondary">Secondary</button>
  <button class="c-btn c-btn--warning">Warning</button>
</div>