/*----------------*\
  #COMPANION
\*----------------*/

.c-companion {
  width: 100%;
}

.c-companion__inner {
  position: relative;
  padding-left: 5%;
  padding-bottom: 5%;
}

.c-companion__media {
  &:before {
    z-index: -1;
    display: block;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 95%;
    width: 95%;
  }

}
