/*----------------*\
  #COMPANION-COLOR
\*----------------*/

@each $color in $colors {

    $name: nth( $color, 1 );
    $color: nth( $color, 2 );

    .c-companion--#{$name} {
        .c-companion__media {
            &:before {
                background-color: lighten($color, 20%);
            }
        }
    }

}