// Containers
.l-container {
  margin: {
    left: margin(a);
    right: margin(a);
  }

  padding: {
    left: padding(2);
    right: padding(2);
  }
}

$sizes: (
  xs: $screen--xs,
  sm: $screen--sm,
  md: $screen--md,
  lg: $screen--lg,
  xl: $screen--xl,
);

@each $size, $screen in $sizes {
  .l-container--#{$size} {
    @include breakpoint-up(#{$size}) {
      max-width: #{$screen};
      width: 100%;
    }
  }
}

.l-container--fluid {
  max-width: 100%;

  padding: {
    left: padding(0);
    right: padding(0);
  }
}
