/*
---
name: Flex
category: Layout/Flex
tag:
  - latest
  - layout
---

## Breakpoints

Morty encourages a mobile frist approach to building layouts and user interfaces. Breakpoints are used based on minimum viewport widths to help us scale up as the viewport (or screen/browser width) changes.

Below are the breakpoints or media queries built in to Morty:

<table>
  <thead>
      <tr>
          <th></th>
          <th>Global</th>
          <th>Extra Small</th>
          <th>Small</th>
          <th>Medium</th>
          <th>Large</th>
          <th>Extra Large</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>Prefix</td>
          <td>.col-</td>
          <td>.col-xs</td>
          <td>.col-sm</td>
          <td>.col-md</td>
          <td>.col-lg</td>
          <td>.col-xl</td>
      </tr>
      <tr>
          <td>Viewport</td>
          <td>&lt; 520px</td>
          <td>&GreaterEqual; 520px</td>
          <td>&GreaterEqual; 768px</td>
          <td>&GreaterEqual; 980px</td>
          <td>&GreaterEqual; 1280px</td>
          <td>&GreaterEqual; 1600px</td>
      </tr>
  </tbody>
</table>

These variables are used in the media queries throughout all of Morty and can be modified by editing and compiling the SCSS to CSS the file located at:
`./src/scss/abstracts/variables/_resolutions.scss`

## Media Queries

*/

@use "sass:math";

$sizes: xs, sm, md, lg, xl;
$directions: row, row-reverse, column, column-reverse, inherit;

.flex {
  @include flex();
  @each $direction in $directions {
    &-#{$direction} {
      flex-direction: #{$direction};
    }
  }
  @each $size in $sizes {
    @each $direction in $directions {
      &-#{$size}-#{$direction} {
        flex-direction: #{$direction};
      }
    }
  }
}

$count: 1;

@while $count < 12 {
  .flex-cols-#{$count} {
    @include flex-cols($count);
  }
  $count: $count + 1;
}

@for $col from 1 through 12 {
  $width: percentage(math.div($col, 12));
  .col-#{$col} {
    @include flex-item;
    @include flex-col($width);
  }
}

@for $col from 1 through 12 {
  $width: percentage(math.div($col, 12));
  .col-#{$col}-offset {
    @include flex-item;
    margin-left: $width;
  }
}

@each $size in $sizes {
  @for $col from 1 through 12 {
    .col-#{$size}-#{$col} {
      $width: percentage(math.div($col, 12));
      @include breakpoint-up(#{$size}) {
        @include flex-item;
        @include flex-col($width);
      }
    }
  }
}

@each $size in $sizes {
  @for $col from 1 through 12 {
    .col-#{$size}-#{$col}-offset {
      $width: percentage(math.div($col, 12));
      @include breakpoint-up(#{$size}) {
        @include flex-item;
        margin-left: $width;
      }
    }
  }
}
