$sizes: (
  0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 2,
  5: 3,
);

.grid {
  display: grid;
  @for $n from 1 through 12 {
    &[columns="#{$n}"] {
      grid-template-columns: repeat($n, 1fr);
    }

    &[rows="#{$n}"] {
      grid-template-rows: repeat($n, 1fr);
    }
  }

  @each $sl, $sv in $sizes {
    &[gap="#{$sl}"] {
      gap: #{$sv}em;
    }
  }

  .col {
    border-radius: 12px;
    padding: 2em;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }
}
