$sizes: (
  0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 2,
  5: 3,
);

$positions: (
  t: top,
  b: bottom,
  r: right,
  l: left,
  y: y,
  x: x,
);

@each $sl, $sv in $sizes {
  .m-#{$sl} {
    margin: #{$sv}em;
  }
}

@each $pl, $pv in $positions {
  @each $sl, $sv in $sizes {
    @if $pl == x {
      .m#{$pl}-#{$sl} {
        margin-left: #{$sv}em;
        margin-right: #{$sv}em;
      }
    } @else if $pl == y {
      .m#{$pl}-#{$sl} {
        margin-top: #{$sv}em;
        margin-bottom: #{$sv}em;
      }
    } @else {
      .m#{$pl}-#{$sl} {
        margin-#{$pv}: #{$sv}em;
      }
    }
  }
}
