$positions: (
  t: top,
  b: bottom,
  r: right,
  l: left,
  y: y,
  x: x,
);

@each $sl, $sv in $spacers {
  .p-#{$sl} {
    padding: #{$sv};
  }
}

@each $pl, $pv in $positions {
  @each $sl, $sv in $spacers {
    @if $pl == x {
      .p#{$pl}-#{$sl} {
        padding-left: #{$sv};
        padding-right: #{$sv};
      }
    } @else if $pl == y {
      .p#{$pl}-#{$sl} {
        padding-top: #{$sv};
        padding-bottom: #{$sv};
      }
    } @else {
      .p#{$pl}-#{$sl} {
        padding-#{$pv}: #{$sv};
      }
    }
  }
}
