/*----------------*\
  #ALERT
\*----------------*/

.c-alert {
  padding: padding('s');
  margin: {
    bottom: margin('s');
  }
  border-radius: 0.25rem;
  font-weight: bold;
  .c-alert__close {
    float: right;
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
    &::after {
      content: 'x';
      font-weight: 300;
      font-family: Arial, sans-serif;
    }
  }
}
