/*----------------*\
  #ALERT-COLOR
\*----------------*/

@each $color in $colors {

  $name: nth( $color, 1 );
  $color: nth( $color, 2 );

  .c-alert--#{$name} {
    
    background-color: $color;
    border-color: $color;
    color: getTextColor($color);

    &:hover,
    &:active,
    &:focus {
      background-color: darken($color, 10%);
    }
  }

}