$properties: none, inline, inline-block, block, table, table-cell, table-row, flex, inline-flex;
$sizes: xs, sm, md, lg, xl;

@each $property in $properties {
    .d-#{$property} {
        display: #{$property};
    }
    @each $size in $sizes {
        .d-#{$size}-#{$property} {
            @include breakpoint-up(#{$size}) {
                display: #{$property} !important;
            }
        }
    }
}