/*
---
name: Badge
category: Components/Badge
tag:
  - latest
  - components
---

Badges can be used to tag information or display counters.

!![Path to HTML file](badge/badge.html)

Badges can also be used in combination with other components, such as a `button` in the example below

```html
<div class="c-btn c-btn--primary">
  Notifications <span class="c-badge c-badge--secondary">4</span>
</div>
```

*/
.c-badge {
  margin: margin(0);
  padding: {
    top: padding(1);
    bottom: padding(1);
    left: padding(2);
    right: padding(2);
  }
  border-radius: 5px;
  display: inline-block;
  font-size: 75%;
  &:hover {
    cursor: pointer;
  }
}
