/*
---
name: Colours
category: Components/Badge
---

!![Path to HTML file](badge/badge-colours.html)
*/

@each $key, $color in $colors {
  .c-badge--#{$key} {
    color: getTextColor($color);
    background-color: $color;
    border-color: $color;

    &:hover,
    &:active,
    &:focus {
      background-color: darken($color, 10%);
    }
  }
}

/*
---
name: Links
category: Components/Badge
---

## This is an Badge

* Base badge style.

!![Path to HTML file](badge/badge-links.html)
*/
