// .columns {
//   @for $column from 1 through 12 {
//     $width: percentage($column / 12);

//     .column-spans-#{$column} {
//       display: block;
//       box-sizing: border-box;
//       padding: 0.25rem;
//       @include column-12($width);
//       @include responsive-columns();
//     }
//   }
// }
