.c-offcanvas {
    height: 100vh;
    width: 20%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    transform: translateX(-100%);
    transition-duration: 250ms;

    .c-offcanvas__close {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    &.show {
        transform: translateX(0);
    }
}

.c-offcanvas__open {
    @include nav-bars();
    
}