.is-warning {
    background-color: $color--orange;
    color: getTextColor($color--orange);
}

.is-danger {
    background-color: $color--pomegranate;
    color: getTextColor($color--pomegranate);
}

.is-success {
    background-color: $color--fruit-salad;
    color: getTextColor($color--fruit-salad);
}