// Colours
$color--white: #ffffff;
$color--black: #000000;
$color--off-white: #f1f1f1;
$color--off-black: #333333;

$color--secondary: #37474f;
$color--light: #fafafa;
$color--dark: #404040;

$color--pomegranate: #f44336;
$color--razzmatazz: #e91e63;
$color--grape: #9c27b0;
$color--purple-heart: #673ab7;
$color--ocean-blue-pearl: #3f51b5;
$color--dodger-blue: #2196f3;
$color--cerulean: #03a9f4;
$color--robins-egg-blue: #00bcd4;
$color--persian-green: #009688;
$color--fruit-salad: #4caf50;
$color--sushi: #8bc34a;
$color--pear: #cddc39;
$color--gargoyle-gas: #ffeb3b;
$color--amber: #ffc107;
$color--pizazz: #ff9800;
$color--orange: #ff5722;
$color--roman-coffee: #795548;
$color--quick-silver: #9e9e9e;
$color--steel-teal: #607d8b;

$color--primary: #2196f3;
$color--secondary: #333333;
$color--success: #4caf50;
$color--danger: #f44336;
$color--warning: #ff693c;
$color--info: #03a9f4;

$colors: (
  "primary" $color--primary,
  "secondary" $color--secondary,
  "success" $color--success,
  "danger" $color--danger,
  "warning" $color--warning,
  "info" $color--info,
  // "pomegranate" $color--pomegranate,
  // "razzmatazz" $color--razzmatazz,
  // "grape" $color--grape,
  // "purple-heart" $color--purple-heart,
  // "ocean-blue-pearl" $color--ocean-blue-pearl,
  // "dodger-blue" $color--dodger-blue,
  // "cerulean" $color--cerulean,
  // "robins-egg-blue" $color--robins-egg-blue,
  // "persian-green" $color--persian-green,
  // "fruit-salad" $color--fruit-salad,
  // "sushi" $color--sushi,
  // "pear" $color--pear,
  // "gargoyle-gas" $color--gargoyle-gas,
  // "amber" $color--amber,
  // "pizazz" $color--pizazz,
  // "orange" $color--orange,
  // "roman-coffee" $color--roman-coffee,
  // "quick-silver" $color--quick-silver,
  // "steel-teal" $color--steel-teal,
  "white" $color--white,
  "black" $color--black
);
