// Resolutions
$screen--xs: 576px !default;
$screen--sm: 768px !default;
$screen--md: 962px !default;
$screen--lg: 1280px !default;
$screen--xl: 1440px !default;

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1400px,
) !default;
