$utilities: () !default;

$utilities: map-merge(
  (
    "position": (
      property: position,
      class: p,
      values: static absolute fixed relative sticky initial inherit,
    ),
    "display": (
      property: display,
      responsive: true,
      class: d,
      values: none inline inline-block block table table-cell table-row flex
        inline-flex,
    ),
    "text-align": (
      property: text-align,
      responsive: true,
      class: t-align,
      values: left right center,
    ),
    "top": (
      property: top,
      values: $position-values,
    ),
    "bottom": (
      property: bottom,
      values: $position-values,
    ),
    "left": (
      property: left,
      values: $position-values,
    ),
    "right": (
      property: right,
      values: $position-values,
    ),
  ),
  $utilities
);
