<div class="c-accordion">
  <div class="c-accordion__tab">
      <div class="c-accordion__header js-accordion-header">Title 1</div>
      <div class="c-accordion__body js-accordion-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis iure hic ab optio, ducimus cumque quisquam delectus aspernatur omnis! Distinctio quod soluta sequi! At et harum animi rem id architecto!
      </div>
  </div>
  <div class="c-accordion__tab">
      <div class="c-accordion__header js-accordion-header">Title 2</div>
      <div class="c-accordion__body js-accordion-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis iure hic ab optio, ducimus cumque quisquam delectus aspernatur omnis! Distinctio quod soluta sequi! At et harum animi rem id architecto!
      </div>
  </div>
  <div class="c-accordion__tab">
      <div class="c-accordion__header js-accordion-header">Title 3</div>
      <div class="c-accordion__body js-accordion-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis iure hic ab optio, ducimus cumque quisquam delectus aspernatur omnis! Distinctio quod soluta sequi! At et harum animi rem id architecto!
      </div>
  </div>
</div>