<div id="modal1" class="c-modal">
  <div class="c-modal__body">
    <div class="c-alert__close js-modal__close"></div>
      This is a modal.
  </div>
</div>

<button class="c-btn js-modal__open" data-modal="modal1">Open Modal</button>