/*
---
name: Accordion
category: Components/Accordion
tag:
  - latest
  - components
---

Accordions allow you to toggle between hiding and showing content. Examples of where these are used most commonly are on FAQs

!![Path to HTML file](accordion.html)
*/
.c-accordion {
}

.c-accordion__tab {
}

.c-accordion__header {
  padding: padding(3);
  font-weight: bold;
  user-select: none;
  &:hover {
    cursor: pointer;
  }
}

.c-accordion__body {
  display: none;
  padding: padding(3);
  &.show {
    display: block;
  }
}
