/*----------------*\
  #MODAL
\*----------------*/

.c-panel {
    background-color: $c-panel--background;
    border: 2px solid $c-panel--border;
}

.c-panel__title {
    background-color: $c-panel__title--background;
}
