// Accordion

.c-accordion {
}

.c-accordion__tab {
}

.c-accordion__header {
  padding: padding("s");
  font-weight: bold;
  user-select: none;
  &:hover {
    cursor: pointer;
  }
}

.c-accordion__content {
  display: none;
  padding: padding("s");
  &.show {
    display: flex;
  }
}
