.grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 1rem 0;

  &.no-gap {
    grid-gap: 0;
  }
  
  &.demo {
    grid-auto-rows: minmax(100px, auto);
    &>div {
      background-color: #eee;
    
      border: 1px dotted #333333;
      opacity: 0.7;
      &:nth-child(odd) {
        background-color: #dedede;
      }
    }
  }

  @for $n from 1 through 12 {
    &[columns="#{$n}"] {
      grid-template-columns: repeat($n, 1fr);
    }
    
    &[rows="#{$n}"] {
      grid-template-rows: repeat($n, 1fr);
    }

    &[gap="#{$n}"] {
      grid-gap: $n;
    }
  }

  @for $grid from 1 through 12 {
    .is-#{$grid}-col {
      @include grid-12($grid);
      @include responsive-grid($grid);
    }
  }

  .col {
    overflow: hidden;
    
    @for $n from 1 through 12 {

      @include responsive-grid($n);

      &[col-spans^="#{$n}"] {
        grid-column: span $n;
        // @include responsive-grid($n);
      }

      &[col-pos^="#{$n}"] {
        grid-column-start: $n;
        // @include responsive-grid($n);
      }

      &[col-pos$="-#{$n}"] {
        grid-column-end: $n+1;
        // @include responsive-grid($n);
      }

      &[row-spans^="#{$n}"] {
        grid-row: span $n;
        // @include responsive-grid($n);
      }

      &[row-pos^="#{$n}"] {
        grid-row-start: $n;
        // @include responsive-grid($n);
      }

      &[row-pos$="-#{$n}"] {
        grid-row-end: $n+1;
        // @include responsive-grid($n);
      }
    }
  }

  // For the Container

  &.items-left {
    justify-items: start;
  }

  &.items-right {
    justify-items: end;
  }

  &.items-center {
    justify-items: center;
  }

  &.items-top {
    align-items: start;
  }

  &.items-bottom {
    align-items: end;
  }

  &.items-middle {
    align-items: center;
  }

  // For the items
  & div[class*="col"] {
    &.is-left {
      justify-self: start;
    }
  
    &.is-right {
      justify-self: end;
    }
  
    &.is-center {
      justify-self: center;
    }
  
    &.is-top {
      align-self: start;
    }
  
    &.is-bottom {
      align-self: end;
    }
  
    &.is-middle {
      align-self: center;
    }  

    &.is-default {
      justify-self: stretch;
      align-self: stretch;
    }
  }

  &.grid-template {
    &>div {
      padding: 0.5rem;
    }
    
    .header {
      grid-area: header;
    }

    .nav {
      grid-area: nav;
    }

    .sidebar {
      grid-area: sidebar;
    }

    .content {
      grid-area: content;
    }

    .footer {
      grid-area: footer;
    }

    .advert {
      grid-area: advert;
    }

    grid-template-areas:
      "header"
      "nav"
      "content"
      "sidebar"
      "advert"
      "footer";

    // @media (min-width: 640px) {
    //   grid-template-columns: 1fr 3fr;
    //   grid-template-areas:
    //     "title title"
    //     "header header"
    //     "sidebar content"
    //     "advert footer";
    // }

    @media (min-width: 768px) {
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas: 
        "header header header"
        "nav content sidebar"
        "nav content advert"
        "footer footer footer";
    }

    &.layout-0 {
      @media (min-width: 768px) {
        grid-template-rows: auto;
        grid-template-columns: 4fr 1fr;
        grid-template-areas:
          "header header"
          "nav nav"
          "content sidebar"
          "content advert"
          "footer footer";
      }
    }

    &.layout-1 {
      @media (min-width: 768px) {
        grid-template-columns: 2fr 4fr 1fr;
        grid-template-areas:
          "header header header"
          "nav content advert"
          "nav content sidebar"
          "nav footer footer";
      }
    }

    &.layout-2 {
      @media (min-width: 768px) {
        grid-template-columns: 2fr 4fr 1fr;
        grid-template-areas:
          "header header header"
          "nav content advert"
          "nav content sidebar"
          "footer footer footer";
      }
    }

    &.layout-3 {
      @media (min-width: 768px) {
        grid-template-columns: 4fr 1fr 1fr;
        grid-template-areas:
          "header header header"
          "content nav sidebar"
          "content nav sidebar"
          "footer footer footer";
      }
    }

    &.layout-4 {
      @media (min-width: 768px) {
        grid-template-columns: 4fr 1fr 1fr;
        grid-template-areas:
          "header header header"
          "content nav sidebar"
          "content nav sidebar"
          "footer nav sidebar";
      }
    }

    &.layout-5 {
      @media (min-width: 768px) {
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas:
          "nav header header"
          "nav content sidebar"
          "nav content sidebar"
          "nav footer footer";
      }
    }

    &.layout-6 {
      @media (min-width: 768px) {
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas:
          "nav header header"
          "nav content sidebar"
          "nav content sidebar"
          "footer footer footer";
      }
    }

    &.layout-7 {
      @media (min-width: 768px) {
        grid-template-columns: 1fr 5fr;
        grid-template-areas:
          "nav header"
          "nav content"
          "nav content"
          "nav sidebar"
          "nav footer";
      }
    }

    &.layout-8 {
      @media (min-width: 768px) {
        grid-template-columns: 1fr 5fr;
        grid-template-areas:
          "header header"
          "sidebar content"
          "nav content"
          "nav content"
          "nav footer";
      }
    }
    
  }
}
