@use "sass:math";

@function getTextColor($color) {
    @if luminance($color) > 0.55 {
        @return rgba(#000000, 0.8);
    } 

    @else {
        @return #ffffff;
    }
}

@function luminance($color) {
    $colors: (
        'red': red($color), 
        'green': green($color), 
        'blue': blue($color)
    );

    @each $name, $value in $colors {
        $adjusted: 0;
        $value: math.div($value, 255);

        @if $value < 0.03928 {
            $value: math.div($value, 12.92);
        }

        @else {
            $value: math.div($value + .055, 1.055);
            $value: pow($value, 2);
        }

        $colors: map-merge($colors, ($name: $value));

    }

    @return (map-get($colors, 'red') * .2126) + (map-get($colors, 'green') * .7152) + (map-get($colors, 'blue') * .0722);
}

@function pow($number, $exponent) {
    $value: 1;

    @if $exponent > 0 {
        @for $i from 1 through $exponent {
            $value: $value * $number;
        } 
    }

    @else if $exponent < 0 {
        @for $i from 1 through -$exponent {
            $value: math.div($value, $number);
        }
    }

    @return $value;
}