@function get-spacing( $name, $key ) {
  $spacing: map-get( $spacing-values, $name );
  @if($spacing != null) {
    $values: map-get( $spacing, 'values' );
    @each $value in $values {
      @if( nth( $value, 1 ) == $key ) {
        @return nth( $value, 2 );
      }
    }
  }
}

// Alias for the get spacing function.
@function spacing( $property-name, $key ) {
  @return get-spacing( $property-name, $key );
}


// Alias for the get spacing function, specifically
// for the padding property.
@function padding( $key ) {
  @return spacing( 'padding', $key );
}


// Alias for the get spacing function, specifically
// for the margin property.
@function margin( $key ) {
  @return spacing( 'margin', $key );
}