<div class="c-card">
  <div class="c-card__media">
    <img src="https://picsum.photos/500/300?random=1" alt="">
  </div>
  <div class="c-card__body">
    <h3>John Doe</h3>
    <p>Web Developer</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt adipisci consequuntur id velit suscipit quo numquam incidunt, a ab soluta sint vitae architecto excepturi voluptate doloremque dolores nihil sapiente porro.</p>
  </div>
  <div class="c-card__footer">
    <button class="c-btn">Button</button>
    <button class="c-btn">Button</button>
  </div>
</div>