/*----------------*\
  #BUTTON
\*----------------*/

.c-btn {
    display: inline-block;
    padding: {
      top: padding('xs');
      bottom: padding('xs');
      left: padding('s');
      right: padding('s');
    }
    // margin: margin('xs');
    border-radius: 0;
    text-shadow: none;
    transition-duration: 250ms;
    text-decoration: none;
    border: none;
    box-sizing: border-box;

    &:hover,
    &:focus,
    &:active {
      cursor: pointer;
      text-decoration: none;
    }

}
