/*----------------*\
  #LAYOUT
\*----------------*/

.l-container {
    margin: {
        left: margin('a');
        right: margin('a');
    }

    padding: {
        left: padding('s');
        right: padding('s');
    }
}

$sizes: (
    xs: $screen--xs,
    sm: $screen--sm,
    md: $screen--md,
    lg: $screen--lg,
    xl: $screen--xl
);

@each $size, $screen in $sizes {
    .l-container--#{$size} {
        @include breakpoint-up(#{$size}) {
            max-width: #{$screen}
        }
    }
}

.l-container--fluid {
    max-width: 100%;

    padding: {
        left: padding('0');
        right: padding('0');
    }
}

.mr-auto {
    margin: {
        right: margin('a');
    }
}

.ml-auto {
    margin: {
        left: margin('a');
    }
}

.mx-auto {
    margin: {
        left: margin('a');
        right: margin('a');
    }
}