/*
---
name: Button
category: Components/Button
tag:
  - latest
  - components
---

Use `a` or `button` tag.

!![Path to HTML file](button/button.html)
*/
.c-btn {
  display: inline-block;
  padding: {
    top: padding(2);
    bottom: padding(2);
    left: padding(3);
    right: padding(3);
  }
  font-size: 1em;
  border-radius: 0;
  text-shadow: none;
  transition-duration: 250ms;
  text-decoration: none;
  border: none;
  box-sizing: border-box;

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    text-decoration: none;
  }
}
