/*
---
name: Outlines
category: Components/Button
---

If you need a button with an outline, you can replace the colour modifier with `--outline-*`

!![Path to HTML file](button/button-outline.html)
*/
@each $key, $color in $colors {
  .c-btn--outline-#{$key} {
    background-color: transparent;
    border: 1px solid $color;
    color: $color;

    &:hover,
    &:active,
    &:focus {
      background-color: $color;
      color: getTextColor($color);
    }
  }
}
