/*
---
name: Colours
category: Components/Button
---

!![Path to HTML file](button/button-colours.html)
*/
@each $color in $colors {
  $name: nth($color, 1);
  $color: nth($color, 2);

  .c-btn--#{$name} {
    background-color: $color;
    border-color: $color;
    color: getTextColor($color);

    &:hover,
    &:active,
    &:focus {
      background-color: darken($color, 10%);
    }
  }
}
